{% extends "base.twig" %}

{% block title %}
    Modifier mon mot de passe - {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-5 text-center">
                <form method="post" class="needs-validation" novalidate>
                    <img class="mb-4" src="https://static.hephe.net/images/profile/sylweb_logo.svg" alt="" width="72"
                         height="57">
                    <h1 class="h3 mb-3 fw-normal">Réinitialiser mon mot de passe</h1>

                    {% if error is not empty %}
                        {% for err in error %}
                            <div class="alert alert-dismissible alert-danger">
{#                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>#}
                                {{ err|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if success is not empty %}
                        {% for succ in success %}
                            <div class="alert alert-dismissible alert-success">
{#                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>#}
                                {{ succ|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if hideForm is not defined %}
                        <input type="hidden" name="submitted" value="true">
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" class="form-control" id="new_password" name="new_password" placeholder=" " required>
                            <label for="new_password">Nouveau mot de passe</label>
                            <div class="invalid-feedback">Veuillez rentrer votre nouveau mot de passe.</div>
                        </div>
                        <div class="form-floating mb-3 has-validation">
                            <input type="password" class="form-control" id="new2_password" name="new2_password" placeholder=" " required>
                            <label for="new2_password">Confirmation du nouveau mot de passe</label>
                            <div class="invalid-feedback">Veuillez rentrer la confirmation de mot de passe</div>
                        </div>

                        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="submited">Modifier</button>
                    {% endif %}
                        <a href="{{ route(router, 'main-home') }}" class="btn btn-link mb-3">Retour à l'accueil</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
