{% extends "base.twig" %}

{% block title %}{% endblock %}
{% block scripts %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-5 text-center">
                <div class="border-1 border-black shadow p-3 rounded rounded-5 bg-light">
                    <img class="mb-4" src="https://static.hephe.net/images/profile/sylweb_logo.svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Réinitialisation du mot de passe</h1>

                    <p class="fs-5">Vous trouverez ci-joint, un lien pour réinitialiser votre mot de passe.</p>

                    <div class="mb-5">
                        <a href="{{ resetLink }}" class="btn btn-dark btn-lg px-4">Changer mon mot de passe</a>
                    </div>
                    <p class="fs-6 text-muted">Si le bouton ne fonctionne pas ou ne s'affiche pas correctement, vous pouvez cliquer sur ce lien :
                        <a href="{{ resetLink }}">{{ resetLink }}</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


