<footer class="col-lg-8 mx-auto pt-5 my-5 text-muted border-top">
    Réalisé par <a href="https://github.com/FafMio" target="_blank">Sylvain Roux</a> | <span class="current-year-range"></span>
</footer>