<footer class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center fw-light fs-6">
                <p class="text-white-50">PHP Starter &copy; <span class="current-year-range"></span> | <a href="#" class="text-white-50 a-secondary">Mentions Légales</a></p>
            </div>
        </div>
    </div>

</footer>