{% extends "base.twig" %}

{% block header %}{% endblock header %}

{% block content %}
    <main>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            {% include 'partials/header.twig' %}

            <h1>Get started with PHP Starter</h1>
            <p class="fs-5 col-md-8">Quickly and easily get started with PHP Starter. Easy little application using PHP.</p>

            <div class="mb-5">
                <a href="https://github.com/FafMio/php-starter" class="btn btn-dark btn-lg px-4">Github</a>
            </div>

            <hr class="col-3 col-md-2 mb-5">

            <div class="row g-5">
                <div class="col-md-4">
                    <h2 class="text-danger">Starter projects</h2>
                    <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
                    <ul class="icon-list">
                        <li><a href="https://github.com/FafMio/discord-starter" rel="noopener" target="_blank">Discord Starter</a></li>
                        <li><a href="https://github.com/FafMio/static-starter" rel="noopener" target="_blank">Static pages Starter</a></li>
                        {#                            <li class="text-muted fst-italic">(Coming Soon!)</li> #}
                    </ul>
                </div>

                <div class="col-md-4">
                    <h2 class="text-danger">Guides</h2>
                    <p>Read more detailed instructions and documentation on using or contributing to PHP Starter.</p>
                    <ul class="icon-list">
                        <li><a href="/docs/5.0/getting-started/introduction/" class="disabled">Bootstrap quick start guide</a></li>
                        <li><a href="/docs/5.0/getting-started/webpack/" class="disabled">Bootstrap Webpack guide</a></li>
                        <li><a href="/docs/5.0/getting-started/parcel/" class="disabled">Bootstrap Parcel guide</a></li>
                        <li><a href="/docs/5.0/getting-started/build-tools/" class="disabled">Contributing to Bootstrap</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h2 class="text-danger">Dependencies</h2>
                    <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
                    <ul class="icon-list">
                        <li><a href="https://getbootstrap.com">Bootstrap</a></li>
                        <li><a href="https://twig.symfony.com/">Twig</a></li>
                        <li><a href="https://packagist.org/packages/symfony/var-dumper">var_dumper</a></li>
                        <li><a href="https://github.com/Eredost/attributes-router">Attributes router</a></li>
                        <li><a href="https://packagist.org/packages/vlucas/phpdotenv">dotEnv</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </main>
{% endblock content %}

