{% extends "base.twig" %}

{% block header %}
    {% include 'partials/navbar.twig' %}
{% endblock header %}


{% block content %}
    {% include 'partials/header.twig' %}

    <main>
        <section class="container mt-3">
            <h1>Hello World !</h1>
            {{ route(router, 'session-register') }}
        </section>
    </main>
{% endblock content %}
