{% extends "base.twig" %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto mt-5 text-center">
                <form method="post" class="needs-validation" novalidate>
                    <img class="mb-4" src="https://static.hephe.net/images/profile/sylweb_logo.svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Mot de passe oublié</h1>

                    {% if success is not empty %}
                        {% for succ in success %}
                            <div class="alert alert-info">
                                {{ succ|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-floating mb-3 has-validation">
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                        <label for="email">Adresse email</label>
                        <div class="invalid-feedback">Veuillez rentrer un email valide.</div>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Envoyer un lien de réinitialisation</button>
                    <a href="{{ route(router, 'main-home') }}" class="btn btn-link mb-3">Retour à l'accueil</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
